* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("images/page-bg.jpg");
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}
.left {
  height: 100%;
  width: 25%;
  position: fixed;
  background-color: #a43e49;
  overflow: visible;
  padding: 0px;
  z-index: 66;
  margin-left: 5%;
}
.imageContainer {
  height: 225px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-fluid {
  margin-top: 35px;
  height: 60%;
}
a {
  color: transparent;
  text-decoration: none;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 25px 2px;
  border-radius: 50%;
  background: transparent;
  color: white;
}

.fa:hover {
  opacity: 0.7;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid;
}

li a {
  background-color: #a43e49;

  display: block;
  color: white;
  padding: 30px;
  text-decoration: none;
  font-weight: bold;
}

li {
  text-align: center;
  border-bottom: 1px solid white;
}
.active:hover {
  color: #a43e49;
}
.active {
  background-color: white;
  color: #a43e49;
}
li a:hover:not(.active) {
  background-color: white;
  color: #a43e49;
}
.contain {
  position: relative;
  color: white;
  margin-bottom: 25px;
  grid-column: 2/-1;
  width: auto;
  padding: 25px;
}
.contain h1 {
  padding: 20px;
}
#sec {
  border-top: 2px solid white;
  padding-top: 100px;
  border-bottom: 2px solid white;
  padding-bottom: 30px;
}

.goodat {
  padding: 50px;
  background-color: rgba(250, 250, 250, 0.1);
  margin: 6px;
  height: 350px;
}
.goodat:hover {
  background-color: white;
  color: black;
}
.goodat:hover .white {
  display: none;
}
.bron {
  display: none;
}
.goodat:hover .bron {
  display: block;
}

@media (max-width: 822px) {
  body {
    display: flex;
    justify-content: center;
  }
  .left {
    display: none;
  }
}

